{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="smaller"><a href="companies">Справочник организаций</a></span></h1>
  <h1><span class="smaller"><a href="wastes">Классификация отходов</a></span></h1>
  <h1><span class="smaller"><a href="search">Поиск</a></span></h1>
  <h1><span class="smaller"><a href="cities">Справочник городов</a></span></h1>
</div>
{% endblock content %}
