<!DOCTYPE html>
<html>
    <head title="{{project}}: Регистрация">
        <meta charset="utf-8">
        <style type="text/css">
            #register, 
#login {
    position: absolute;
    top: 0px;
    width: 80%;	
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px #F9C941 inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px #F9C941 inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px #F9C941 inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#register {	
    z-index: 21;
    opacity: 0;
}
#login {
    z-index: 22;
}
#wrapper h1 {
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
/** Только webkit браузеры поодерживают background-clip:text; */
#wrapper h1 {
    background: 
        -webkit-repeating-linear-gradient(-45deg, 
	    rgb(18, 83, 93) , 
	    rgb(18, 83, 93) 20px, 
	    rgb(64, 111, 118) 20px, 
            rgb(64, 111, 118) 40px, 
            rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#wrapper h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: 
        -moz-linear-gradient(left, rgba(147,184,189,0) 0%, 
                                   rgba(147,184,189,0.8) 20%, 
                                   rgba(147,184,189,1) 53%, 
                                   rgba(147,184,189,0.8) 79%, 
                                   rgba(147,184,189,0) 100%); 
    background: 
        -webkit-gradient(linear, left top, right top, 
                         color-stop(0%,rgba(147,184,189,0)), 
                         color-stop(20%,rgba(147,184,189,0.8)), 
                         color-stop(53%,rgba(147,184,189,1)), 
                         color-stop(79%,rgba(147,184,189,0.8)), 
                         color-stop(100%,rgba(147,184,189,0))); 
    background: 
        -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,
                                      rgba(147,184,189,0.8) 20%,
                                      rgba(147,184,189,1) 53%,
                                      rgba(147,184,189,0.8) 79%,
                                      rgba(147,184,189,0) 100%); 
    background: 
        -o-linear-gradient(left, rgba(147,184,189,0) 0%,
                                 rgba(147,184,189,0.8) 20%,
                                 rgba(147,184,189,1) 53%,
                                 rgba(147,184,189,0.8) 79%,
                                 rgba(147,184,189,0) 100%); 
    background: 
        -ms-linear-gradient(left, rgba(147,184,189,0) 0%,
                                  rgba(147,184,189,0.8) 20%,
                                  rgba(147,184,189,1) 53%,
                                  rgba(147,184,189,0.8) 79%,
                                  rgba(147,184,189,0) 100%); 
    background: 
        linear-gradient(left, rgba(147,184,189,0) 0%,
                              rgba(147,184,189,0.8) 20%,
                              rgba(147,184,189,1) 53%,
                              rgba(147,184,189,0.8) 79%,
                              rgba(147,184,189,0) 100%); 
}
::-webkit-input-placeholder  { 
    color: rgb(190, 188, 188); 
    font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholde r{ 
    color: rgb(190, 188, 188);
    font-style: italic;
} 
 
input {
    outline: none;
}
#wrapper input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;	
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);	
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}
#wrapper p.button input{
    width: 30%;
    cursor: pointer;	
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;	
    border: 1px solid #F9C941;	
    margin-bottom: 10px;	
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                0px 0px 0px 3px rgb#F9C941,
	                0px 5px 3px 3px #F9C941;
    -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	            0px 0px 0px 3px #F9C941,
	            0px 5px 3px 3px #F9C941;
    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
               0px 0px 0px 3px #F9C941,
               0px 5px 3px 3px #F9C941;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#wrapper p.button input:hover{
    background: #F9C941;
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);	
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
    text-align: right;
    margin: 5px 0;
}
#register{ 
    z-index: 21;
    opacity: 0;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}
.animate{
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
    animation-name: fadeOutLeftBig;
}
 
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}
        </style>
    </head>
    
    <body>
        <div id="container_demo" >
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
        <div id="login" class="animate form">
            <form  action="/logged" autocomplete="on" method="post">
                <h1>Вход</h1> 
                <p> 
                    <label for="username" class="uname" data-icon="u" > Ваш e-mail:</label>
                    <input id="username" name="username" required="required" type="text" placeholder="sitehere или sitehere.ru@my.com"/>
                </p>
                <p> 
                    <label for="password" class="youpasswd" data-icon="p"> Ваш пароль: </label>
                    <input id="password" name="password" required="required" type="password" placeholder="например 123456" /> 
                </p>
                <p class="login button"> 
                    <input type="submit" value="Войти" /> 
                </p>
                <p class="change_link">
                    <a href="#toregister" class="to_register">Зарегистрироваться</a>
                </p>
            </form>
        </div>
 
        <div id="register" class="animate form" >
            <form  action="/reg" autocomplete="on" method="post"> 
                <h1> Регистрация </h1> 
                <p> 
                    <label for="emailsignup" class="youmail" data-icon="e" >Ваш e-mail:</label><br>
                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="sitehere.ru@my.com"/> 
                </p>
                <p> 
                    <label for="passwordsignup" class="youpasswd" data-icon="p">Ваш пароль: </label><br>
                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="123456"/>
                </p>
                <p> 
                    <label for="firstnamesignup" class="youfirstname" data-icon="p">Имя: </label><br>
                    <input id="firstnamesignup" name="firstnamesignup" required="required" type="text" placeholder="Иван"/>
                </p>
                <p> 
                    <label for="lastnamesignup" class="youlastname" data-icon="p">Фамилия: </label><br>
                    <input id="lastnamesignup" name="lastnamesignup" required="required" type="text" placeholder="Иванов"/>
                </p>
                    <p class="signin button"> 
                    <input type="submit" value="Регистрация"/> 
                </p>
                <p class="change_link">  
                    Уже зарегистрированы ?
                    <a href="#tologin" class="to_register"> Войдите на сайт </a>
                </p>
            </form>
        </div>						
    </div>
</div>
        
    </body>
</html>
