{% extends "layout.jinja2" %}

{% block content %}

<div class="content" width="50%">
<style type="text/css">
.tftable {font-size:12px; .color:#000000;width:50%;border-width: 1px;border-color: #eef4ff;border-collapse: collapse; margin: auto;}
.tftable th {font-size:12px;background-color: #bedbfe;border-width: 1px;padding: 8px;border-style: solid;border-color: #eef4ff;text-align:left; color: #000000; text-align: center;}
.tftable tr {background-color: #eef4ff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #eef4ff; color: #000000; text-align: center;}
.tftable tr:hover {background-color: #bedbfe;}
.tftable a {color: #000000}
</style>

<form action="updating" type="multipart/form-data" method="GET">
<input type="hidden" name="id" value={{id}}>
<table class="tftable">
<tr>
<td>
<input name="w" value="{{ waste.id }}" type="hidden">
</input>
    {{ waste.name }}
</td>
</tr>
<tr>

<td>
<input name="comp" value="{{ company.id}}" type="hidden">
</input> {{ company.name }} ({{ city.name }})
</td>
</tr>
<tr>
<th>Виды деятельности: </th>
    </tr>
<tr>
<td>
<table>
    <tr>
        <th></th>
        <th>По документам</th>
        <th>По факту</th>
    </tr>
<tr>
<th>Сбор: </th>
<td><input type="text" name="c1" {% if c.c1 is not none %} value={{c.c1}} {% endif %}></td><td><input type="text" name="c11" {% if c.c1f is not none %} value={{c.c1f}} {% endif %}></td>
</tr>
<tr>
<th>Транспортирование: </th>
<td><input type="text" name="c2" {% if c.c2 is not none %} value={{c.c2}} {% endif %}></td><td><input type="text" name="c21" {% if c.c2f is not none %} value={{c.c2f}} {% endif %}></td>
</tr>
<tr>
<th>Обезвреживание: </th>
<td><input type="text" name="c3" {% if c.c3 is not none %} value={{c.c3}} {% endif %}></td><td><input type="text" name="c31" {% if c.c3f is not none %} value={{c.c3f}} {% endif %}></td>
</tr>
<tr>
<th>Использование: </th>
<td><input type="text" name="c4" {% if c.c4 is not none %} value={{c.c4}} {% endif %}></td><td><input type="text" name="c41" {% if c.c4f is not none %} value={{c.c4f}} {% endif %}></td>
</tr>
<tr>
<th>Обработка: </th>
<td><input type="text" name="c5" {% if c.c5 is not none %} value={{c.c5}} {% endif %}></td><td><input type="text" name="c51" {% if c.c5f is not none %} value={{c.c5f}} {% endif %}></td>
</tr>
<tr>
<th>Утилизация: </th>
<td><input type="text" name="c6" {% if c.c6 is not none %} value={{c.c6}} {% endif %}></td><td><input type="text" name="c61" {% if c.c6f is not none %} value={{c.c6f}} {% endif %}></td>
</tr>
<tr>
<th>Размещение: </th>
<td><input type="text" name="c7" {% if c.c7 is not none %} value={{c.c7}} {% endif %}></td><td><input type="text" name="c71" {% if c.c7f is not none %} value={{c.c7f}} {% endif %}></td>
</tr>
</table>
</td>
</tr>
<tr>
<th>Примечания:</th></tr>
<tr>
<td><textarea name="other" class="field">-</textarea></td>
</tr>
<tr>
    <th>
        <input type="submit" value="Сохранить"  />
    </th>
</tr>
</table>

</form>



</div>

{% endblock content %}
